<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../../styles/prism.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Audiowide|Gugi|Orbitron|Prosto+One" rel="stylesheet">
  <script src="../../js/index.js"></script>
  <script src="../../js/prism.js"></script>
  <title>Snippet!</title>
</head>

<body> 
{{!--MAIN TITLE BAR --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Snippets </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" id="bar">
      <li class="nav-item">
        <a class="nav-link"  id="home">
          <i class="fas fa-home"></i>Home       
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"></a>
      </li>
      <li>
        {{!--
        <div class="collapse navbar-collapse"> --}}
          <li class="nav-item">
            <a class="nav-link" href="#" id="logoff">
              <i class="fas fa-key"></i>Log Off
              <span class="sr-only">(current)</span>
            </a>
            {{!-- </div> --}}
        </li>
    </ul>
  </div>

</nav>

{{{body}}}

<footer>
  <div id="bottom">
  </div>
</footer>


</body>
</html>
