<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
 <title>Home Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/prism.css">
	<link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/index.js"></script>
  <title>Home Page</title>

</head>

<body id="body">
  <ul class="navbar color1">
    <li><a href="#"><i class="icon20 home"></i><span>Home</span></a></li>

	<li><a href="#"><i class="icon20 download"></i><span>All</span></a></li>
{{!-- 	<li class="drpdown"><a href="#"><i class="icon20 comments"></i><span>Posts</span></a>
		<ul class="drpcontent">
			<li><a href="#">Latest Posts</a></li>
			<li><a href="#">Popular Posts</a></li>
			<li><a href="#">Private Posts</a></li>
		</ul>
	</li>
 --}}
 {{!-- <li><a href="#"><i class="icon20 download"></i><span>All</span></a></li> --}}
	<li class="drpdown"><a href="#"><i class="icon20 theme"></i><span>Category</span></a>
		<ul class="drpcontent" id="themeselect">
			<li><a href="#" data-color="color1">Bootstrap</a></li>
			<li><a href="#" data-color="color2">Html</a></li>
			<li><a href="#" data-color="color3">JavaScript</a></li>
			<li><a href="#" data-color="color4">Node</a></li>
			<li><a href="#" data-color="color5">----</a></li>
		</ul>
	</li>
	<li><a href="#"><i class="icon20 upload"></i><span>About</span></a></li>
  	<li><a href="#"><i class="icon20 login"></i><span>Login</span></a></li>
</ul>
  {{{body}}}
</body>
<footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<script src="/js/prism.js"></script>
</footer>
</html>
