<br>
<br>
<br>
<div class="container login">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 login">
            <form class="clearfix mb-4" method="POST" action="/home">
                <p id="login-title">Snippet Login</p>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="email" class="form-control" id="userField" aria-describedby="emailHelp" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="passwordField" placeholder="Password">
                </div>
                <br>
                <center>
                    <button id="login" type="submit" class="btn btn-warning">Submit</button>
                </center>
                <br>
                <center>
                    <a href="/signUp">Not a member? Sign Up!</button>
                </center>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>