<br>
<br>
<br>
<div class="container login">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 login cardbody">
            <form class="clearfix mb-4 login">
                <p id="login-title"> <span class="logo">Snippets Login</span></p>
                <div id="alert" class="msg"><p class="msg"></p></div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="userField" aria-describedby="" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="passwordField" placeholder="Password">
                </div>
                <br>
                <center>
                    <button id="login" type="submit" class="btn btn-warning buttonstyle">Submit</button>
                </center>
                <br>
                <center>
                    <a href="/signup">Not a member? Sign Up!</a>
                </center>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>