<br>
<br>
<br>
<div class="container signup">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 signup">
            <form class="clearfix mb-4" method="POST" action="/home">
                <p id="signup-title">Snippet Signup!</p>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="email" class="form-control" id="newUsername" aria-describedby="emailHelp" placeholder="Enter username">
                </div>
                <div class="form-goup">
                    <label for="exampleInputEmail1">Full Name</label>
                    <input type="email" class="form-control" id="newFullname" aria-describedby="emailHelp" placeholder="Enter Full Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="Password">
                </div>
                <br>
                <center>
                    <button id="signup" type="submit" class="btn btn-warning">Sign up</button>
                </center>
                <br>
                <center>
                    <a href="/">User Login</button>
                </center>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>