.list-group-item {
  line-height: 2.5;
}
body {
  background-image: url("http://ironrocksolutions.com/wp-content/uploads/2016/07/background-2462436_1920.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-8.offset-2.form {
  background-color: rgb(60, 71, 80);
  border-radius: 25px;
  color: whitesmoke;
}



.card {
  margin: 15px auto;
  background-color: rgb(60, 71, 80);
  color: whitesmoke;
  border-radius: 25px;
}

.sidebar {
  position: fixed;
  padding: 2%;
  background-color: rgb(60, 71, 80);
  border-radius: 25px;
}
/* .sidebar-body {
  width: 90%;
  height: 700px;
  background-color: rgb(60, 71, 80);
  border-radius: 25px;
} */
.text {
  text-align: center;
  color: rgb(202, 144, 58);
}
.title {
  color: white;
}

#comments {
  color: rgb(202, 144, 58);
  width: 80%;
  border-radius: 25px;
}
.col-md-6.login {
  background-color: rgb(60, 71, 80);
  border-radius: 25px;
  padding: 20px;
  color: whitesmoke;
}
.form-check {
  text-align: center;
}
#login-title {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}
#signup-title {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}
.col-md-6.signup {
  background-color: rgb(60, 71, 80);
  border-radius: 25px;
  padding: 20px;
  color: whitesmoke;
}

/* scrolling comments box */
.comments {
  max-height: 200px;
  overflow-x: scroll;
}

#bottom {
  margin-top: 50px;
  height: 40px;
}

nav {
  margin-bottom: 20px;
}
.codeBlock.language-javascript {
  color: white;
}
.btn.btn-info.btn-lg {
  margin: 20%;
}


/* Menu Bar */
#bottom,.navbar{
box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.61);
}
.col-md-6{
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.61);
}

#dropdownMenu2{
  font-size: 20px;
  text-shadow: 1px 1px 10px black;
}

#bar{
  color:white;
  font-size: 20px;
  text-shadow: 1px 1px 10px black;
}
.navbar-brand{
  font-size:28px;
  font-family: "Permanent Marker", cursive;
  text-shadow: 1px 1px 10px black;
}

.navbar{
  background-color: rgb(60, 71, 80) !important;
}

/* Footer */
#bottom{
  margin-top: 80px;
  height: 40px;
  background-color: rgb(60, 71, 80);
  
}

/* body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFCC00;
}

html {
  height: 100%;
} */

/* .snippetContainer{
  width: 100%;
  margin-left: 20%;
} */

.btn.btn-info.btn-lg {
  margin: 10px auto;
}

.side {
  text-align: center
}

.trending {
  background-color: orange;
  border-radius: .3rem;
  width: 70%;
  margin: 0 auto;
}
